<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Practice thingy</title>
  </head>
  <body>
    <h1>List of notes</h1>
    <section>
      <ul>
        <% if (info.length === 1) { %>
        <li class="listItem">
          <span><%= info[0].content %></span>
        </li>
        <% } else { for (let i=1; i < info.length; i++) { %>
        <li class="listItem">
          <span><%= info[i].content %></span>
        </li>
        <% }} %>
      </ul>
    </section>
    <section>
      <form action="/" method="POST">
        <label for="">New note<input type="text" name="content" /></label>
        <button>Submit</button>
      </form>
    </section>
  </body>
</html>
